html{
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: aliceblue;
    text-align: center;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    font-size: 1.8em;
}

.banner{
    width: 100%;
}

.container{
    width: 80%;
    background-color: #1E2040;
    margin: auto;

}

footer{
    background-color: #42475D;
    color: aliceblue;
    width: 100%;
    text-align: center;
}
div{
    color: aliceblue;
}
h2{
    color: aliceblue;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    font-size: 1.6em;
}
h3{
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    font-size: 1.4em;
}
p{
    color: aliceblue;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    line-height: 1.4em;
    font-size: 1.2em;
}

.imagens{
    display: block;
    margin: auto;
    width: 40%;
}

.meca{
    width: 40%;
    float: left;
    padding-right: 1.5em;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }

 .col-6 {
    width: 50%;
}

.table{
    margin: auto;
    width: 95%;
    font-family: monospace;
    border-collapse: collapse;
}
.table td, .table th {
    border: 1px solid rgb(82, 80, 88);
    padding: 8px;
  }
  
.table tr:nth-child(even){
    background-color: #222222;
}
  
.table tr:hover {
    background-color: rgb(72, 72, 75);
}
  
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: rgb(255, 255, 255);
}
 
.table td, .table th {
    border: 1px solid rgb(82, 80, 88);
    padding: 8px;
    color: aliceblue;
}
  
.table tr:nth-child(even){
    background-color: #222222;
}
  
.table tr:hover {
    background-color: rgb(80, 80, 82);
}

@media screen and (min-width:601px) {
    header{
        flex-direction: row;
    }
    .menu{
        position: absolute;
        width: 70%;
    }
    .menu ul li{
        display: inline;
        margin-left: 1%;
    }
    .banner{
        margin-top: 8%;
    }
    .logo{
        width: 30%;
        float: left;
        padding-left: 5%;
    }
}

@media screen and (max-width:600px) {
    .logo{
        text-align: center;
    }

    .banner{
        margin-top: 40%;
    }
}

.fixo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    line-height: 3em;
    background-color: #42475D;
}

.menu{
    top: 2em;
    text-align: right;
}

.menu a{
    font-size: 1.3em;
}

.menu a:hover:not(.ativo){
    background-color: #1E2040;
    display: inline-block;
    width: 10%;
    text-align: center;
}

.logo{
    width: 20%;
}

.social{
    width: 4%;
    display: inline;
    padding: 1%;
}