html{
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: aliceblue;
    text-align: center;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    font-size: 1.8em;
}
header{
    width: 100%;
    background-color: #1E2040;
}

.logo{
    text-align: center;
    color: aliceblue;
    font-size: 1.5em;
}

.banner{
    width: 100%;
}

.container{
    width: 80%;
    background-color: #1E2040;
    margin: auto;

}

footer{
    background-color: #42475D;
    color: aliceblue;
    width: 100%;
    text-align: center;
}
div{
    color: aliceblue;
}
h2{
    color: aliceblue;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    font-size: 1.6em;
}
h3{
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    font-size: 1.4em;
}
p{
    color: aliceblue;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    line-height: 1.4em;
    font-size: 1.2em;
}

.imagens{
    display: block;
    margin: auto;
    width: 40%;
}

.meca{
    width: 40%;
    float: left;
    padding-right: 1.5em;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }

 .col-6 {
    width: 50%;
}

.table{
    margin: auto;
    width: 95%;
    font-family: monospace;
    border-collapse: collapse;
}
.table td, .table th {
    border: 1px solid rgb(82, 80, 88);
    padding: 8px;
  }
  
.table tr:nth-child(even){
    background-color: #222222;
}
  
.table tr:hover {
    background-color: rgb(72, 72, 75);
}
  
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: rgb(255, 255, 255);
}
 
.table td, .table th {
    border: 1px solid rgb(82, 80, 88);
    padding: 8px;
    color: aliceblue;
}
  
.table tr:nth-child(even){
    background-color: #222222;
}
  
.table tr:hover {
    background-color: rgb(80, 80, 82);
}


.menu ul{
    padding: 0;
    list-style: none;
    background-color: #42475D;
}

.menu ul li{
    display: inline;
}

.menu ul li a {
    padding: 1%;
    display: inline-block;
    font-size: 1.5em;
}

.menu ul li a:hover{
    background-color: #1E2040;
    transition: background .3s;
}

.ativo{
    background-color: #1E2040;
}

.logo{
    width: 30%;
    margin: auto;
    display: block ;
}

.social{
    width: 8%;
    padding-left: 2%;
}
